extends template


block content
	.header
		.left
			.logo C
			.back.icon-arrow-left
		.right
			.icon.icon-th-menu

			.menu
				.item 
					a(href="index.html#descubre") Descubre
				.item
					a(href="index.html#comparte") Comparte
				.item
					a(href="index.html#colecciona") Colecciona
				.separator

				.item2
					a Comentarios sobre la aplicacion
				.item2
					a Logout

		ul.nav
			li#descubre.active Descubre
			li#comparte Comparte
			li#colecciona Colecciona

	.subheader
		.descubre.active
			.filter 
				span Ordena
				ul
					li Rating
					li Distancia
					li Precio
					li Disponible			

			input.search(placeholder="Buscar cartas de actividad")
			.search.icon-filter

		.comparte
			input.search(placeholder="Buscar conversaciones de planes")
		.colecciona
			input.search(placeholder="Buscar cartas en tus colecciones")


	+pageContent
		+page
			.filterPage
				include filters

			.cards#comparteList
				each val in card
					.card(class!="cat_#{val.category}")
						.image(style!="background-image: url(#{val.image})")
						.title #{val.title}
							b En #{val.from}
						.share Invitar
						.tag #{val.tag}
						.address #{val.address}


			
		+page
			.newPlan
				a(href="invite.html") Iniciar nuevo plan
			ul.chat
				include chatPage


		+page
			.textNew
				h3
					“En este momento no has coleccionado planes. Para agregar planes a sección busca los que más te gusten en la sección Descubre”
			.irA(onclick="pages.swipeTo(0)")
				|Ve a descubre
			//-
				.cards
					each val in card
						.card(class!="cat_#{val.category}")
							.image(style!="background-image: url(#{val.image})")
							.title #{val.title}
								b En #{val.from}
							.share Invitar
							.tag #{val.tag}
							.address #{val.address}
			
	.footer
		.Invite
			.btn.js-search Buscar mas amigos
			.btn.blue.js-invite Invitar

		.Card
			.btn.blue.js-invite Invitar

	script
		$(document).on('ready',home);