extends template


block content
	.header
		ul.nav
			li#descubre.active Descubre
			li#comparte Comparte
			li#coleciona Colecciona

	.subheader
		.descubre.active
			.filter Filtros
			input.search(placeholder="Buscar cartas de actividad")

		.comparte dd
		.colecciona ggg

	+pageContent
		+page
			.cards
				each val in card
					.card(class!="cat_#{val.category}")
						.image(style!="background-image: url(#{val.image})")
						.title #{val.title}
							b En #{val.from}
						.tag #{val.tag}
						.address #{val.address}
						.share Invitar
		+page
			h1 Test

		+page
			.cards
				each val in card
					.card(class!="cat_#{val.category}")
						.image(style!="background-image: url(#{val.image})")
						.title #{val.title}
							b En #{val.from}
						.tag #{val.tag}
						.address #{val.address}
						.share Invitar